<section class="nav_bar">
    <div class="logo">
        <h2>DAILY JOURNAL</h2>
    </div>
    <div class="links">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About-us</a></li>
                <li><a href="/contact">Contact-us</a></li>
                <li><a href="/post">Post</a></li>
            </ul>
        </nav>
    </div>
</section>
