<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAILY JOURNAL</title>
    <!--  css  -->
    <style>
        /* use defuilt */
        @import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400&family=Lato:ital,wght@0,700;1,400&family=Poppins:wght@300;400;500;600;700&family=Rubik&family=Sansita:wght@400;700&family=Satisfy&display=swap');

        /* custom scroll bar */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: var(--ff8484);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html {
            font-size: 62.5%;
        }

        p {
            font-weight: 100;
            font-size: 14px;
            letter-spacing: 1px;
            color: rgba(0, 0, 0, 0.795);
        }

        h1,
        h2 {
            font-weight: 100;
            font-size: 20px;
        }

        span {
            color: rgba(0, 0, 0, 0.795);
        }

        a {
            text-decoration: none;
            font-weight: 100;
            letter-spacing: 1px;
            color: black;
            text-transform: uppercase;
        }

        ul {
            list-style: none;
        }

        :root {
            --bg-color: #ffffff;
            --text-color: #000;
            --secound-color: #a09dab;
            --main-color: #f75023;
            --big-font: 5rem;
            --h2-font: 3rem;
            --p-font: 1.1rem;
            --Asap: 'Asap', sans-serif;
            --Lato: 'Lato', sans-serif;
            --Rubik: 'Rubik', sans-serif;
            --Sansita: 'Sansita', sans-serif;
            --Satisfy: 'Satisfy', cursive;
            --C7F2A4: #C7F2A4;
            --000000: #000000;
            --777777: #777777;
            --bbbbbb: #bbbbbb;
            --70c770: #70c770;
            --dce8eb: #dce8eb;
            --efefef: #efefef;
            --f7d9c4: #f7d9c4;
            --ff8484: #ff8484;
            --ffffff: #ffffff;
            --1b2026: #1b2026;
            --3d3d3d: #3d3d3d;
            --shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
            --poppins: 'Poppins', sans-serif;
        }

        /* -----------nav bar------------ */
        .nav_bar {
            width: 100%;
            height: 8vh;
            background-color: var(--C7F2A4);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1000;
        }

        .nav_bar .logo h2 {
            font-family: var(--poppins);
            font-weight: 700;
            letter-spacing: 1.2px;
            margin-left: 30px;
            opacity: 0.6;
        }

        .nav_bar .links {
            margin-right: 50px;
        }

        .nav_bar .links nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

        .nav_bar .links nav ul li a {
            font-family: var(--poppins);
            font-weight: 500;
            font-size: 1.4rem;
            transition: .5s;
        }

        .nav_bar .links nav ul li a:hover {
            opacity: 0.7;
        }

        /* ---------- box design ------------- */
        .postBox {
            padding: 20px;
            background-color: var(--bbbbbb);
            margin: 20px 20px;
        }

        p {
            font-family: var(--poppins);
            font-weight: 450;
            font-size: 1rem;
        }

        /* ------form section---------- */
        .form_section {
            padding: 40px;
            text-align: center;
        }

        .form_section h1 {
            font-family: var(--poppins);
            font-size: 2rem;
            letter-spacing: 2px;
            font-weight: 700;
            line-height: 3;
            color: var(--main-color);
            opacity: .6;
        }

        input {
            width: 100%;
            display: block;
            padding: 6px 9px;
            margin-bottom: 30px;
            font-family: var(--poppins);
            letter-spacing: 1px;
            border-radius: 4px;
            /* border: none; */
            outline: none;
            border: none;
            box-shadow: var(--shadow);
        }

        textarea {
            width: 100%;
            display: block;
            padding: 6px 9px;
            margin-bottom: 30px;
            font-family: var(--poppins);
            letter-spacing: 1px;
            border-radius: 4px;
            outline: none;
            resize: none;
            border: none;
            box-shadow: var(--shadow);
        }

        .form_section button {
            float: left;
            padding: 6px 20px;
            text-transform: capitalize;
            border: none;
            box-shadow: var(--shadow);
            border-radius: 4px;
            background-color: var(--70c770);
            letter-spacing: 1.2px;
            cursor: pointer;
        }

        .container {
            /* background-color: var(--secound-color); */
            padding: 6px 40px;
        }

        .container h3 {
            font-family: var(--poppins);
            font-size: 1.8rem;
            font-weight: 600;
            opacity: .7;
            line-height: 1.8;
        }

        .container p {
            font-family: var(--Lato);
        }

        .footer_page {
            background-color: var(--ff8484);
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 20px 0px;
        }

        .footer_page p {
            font-family: var(--poppins);
        }
    </style>
</head>

<body>
    <%- include("nav") -%>
    <div class="container">
        <h3>
            <%= title %>
        </h3>
        <p>
            <%= content %>
        </p>
    </div>
    <%- include("footer") -%>
</body>

</html>